<h1>Day Planner</h1>

<ul>
    {{#each plans}}
    <li>
        <p>
            {{this.id}}. {{this.plan}}
            <button data-planid="{{this.id}}" class="delbutton" type="button">Delete Plan!</button>
        </p>

    </li>

    {{/each}}
</ul>

<h1>Create a plan</h1>
<form id="createplan">
    <textarea type="text" name="plan"></textarea>
    <button type="submit">Save Plan</button>
</form>

<h1>Update a plan</h1>
<form id="updateplan">
    <select name="id">
        {{#each plans}}
        <option value="{{this.id}}">{{this.plan}}</option>
        {{/each}}
    </select>
    <textarea type="text" name="plan"></textarea>
    <button type="submit">Update Plan!</button>
</form>

<script>
    $("#createplan").on("submit", function (event) {

        event.preventDefault();

        var newPlan = { plan: $("#createplan [name=plan]").val().trim() };
        console.log(newPlan);
        $.ajax(
            "api/plans", {
                type: "POST",
                data: newPlan
            }).then(function () {            // after posting data and save it in our database, execute the function below
                console.log("created new plan");
                // Reload the page to get the updated list 
                location.reload();
            });


    });

    //delete the plans

    $(".delbutton").on("click", function (event) {
        event.preventDefault();
        var id = $(this).data("planid");  // attr(data-planid) is equal to data("planid")
        $.ajax("/api/plans/" + id, {
            type: "DELETE"
        }).then(function () {
            console.log("deleted id", id);
            location.reload();
        })
    })

    //update plan

    $("#updateplan").on("submit", function (event) {
        event.preventDefault();
        var id = $("[name=id]").val().trim();
        var newData = {
            plan: $("#updateplan [name=plan]").val().trim()
        }
        $.ajax("/api/plans/" + id, { type: "PUT", data: newData }, function () {

            location.reload();
        })

    })
</script>